{% extends "shared/base.html" %}
{% block body %}
<a href="{% url "echos:echo_list" %}"class="btn btn-primary mt-3">Volver al Home</a>
<a href="{% url "echos:echo_waves" echo.pk %}"class="btn btn-primary mt-3">Volver al Home</a>

<div class="row justify-content-center">
  <div class="echo-card">
      <div class="echo-content">
          <h5>{{echo.content}}</h5>
          <div class="echo-footer">Por <strong> @{{echo.user}} </strong> |{{echo.created_at}}</div>
{% for wave in waves %}
<div class="w-50 ms-auto me-auto">
        <div class="col-md-4 mb-4">
            <div class="card d-flex">
                <div class="card-body align-center">
                    <h5 class="card-title">{{ wave.content }}</h5>
                    <p class="card-text">@{{ wave.user }}.</p>
                </div>
            </div>
        </div>
    </div>


        {% endfor %}
{% endblock body %}